{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block content %}
    <h1>Login</h1>

{{ form.errors }}

    <div class="row">
        <div class="col-4">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}

                <button class="btn btn-primary">Log In</button>
                <a href="{% url 'users:register' %}" class="link-primary m-2">Register</a>
            </form>
        </div>
    </div>

{% endblock %}
