{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block navbar %}
{% endblock %}

{% block content %}
    <h1>Register</h1>

    <div class="row">
        <div class="col-5">
            <form method="post">
                {% csrf_token %}
                {{ form | crispy }}

                <button class="btn btn-primary">Sign up</button>
                 <a href="{% url 'users:login' %}" class="link-primary m-2">Sign in</a>
            </form>
        </div>
    </div>
{% endblock %}
