{% extends 'pages/base.html' %}
{% load crispy_forms_tags %}

{% load static %}

    {% block title %}
    <title>Create a client</title>
    <link rel="stylesheet" href="{% static 'css/create-client.css' %}">
    {% endblock %}


{% block content %}

<a class="btn btn-outline-secondary mb-4" href="{% url 'clients:index' %}">Clients Page</a>

    <h3>Create a client:</h3>
<div class="row">
<div class="col-6">
<form  method="post">
    {% csrf_token %}

    {{ form | crispy  }}

    <input class="btn btn-primary btn-lg w-25" type="submit" value="Submit">
</form>
</div>
</div>
{% endblock %}
