{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
    <title>Delete</title>
    <link rel="stylesheet" href="{% static 'css/create-client.css' %}">
{% endblock %}


{% block content %}
    <div class="content-body">
<h1>Are you sure? You want to delete {{ client }}</h1>
<div class="buttons w-25">
<a class="btn btn-success w-25 mb-3" href="{% url 'clients:index' %}">No</a>
<form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger w-25" value="Yes"></input>
</form>
    </div>
    </div>
{% endblock %}