{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create a client</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/create-client.css' %}">
</head>
<body>

<a class="btn btn-primary mb-4" href="{% url 'clients:index' %}">Clients Page</a>

<table class="table table-hover">

  <tbody>
    <tr>
      <th scope="row" class="table-dark">Business Owner: </th>
      <th>{{ client.business_owner }}</th>

    </tr>
    <tr>
      <th scope="row" class="table-dark">Agent: </th>
      <th>{{client.agent}}</th>
  

    </tr>
    <tr>
      <th scope="row" class="table-dark">First Name: </th>
      <th>{{client.first_name}}</th>

    </tr>
    <tr>
      <th scope="row" class="table-dark">Last Name: </th>
        <th>{{client.last_name}}</th>
    </tr>

    <tr>
      <th scope="row" class="table-dark">Birthdate: </th>
      <th>{{client.birthdate}}</th>
    </tr>

    <tr>
      <th scope="row" class="table-dark">Email: </th>
      <th>{{client.email}}</th>
    </tr>

    <tr>
      <th scope="row" class="table-dark">Phone Number: </th>
      <th>{{client.phone_number}}</th>
    </tr>

  <tr>
      <th scope="row" class="table-dark">Address: </th>
      <th>{{client.address}}</th>
    </tr>

  <tr>
      <th scope="row" class="table-dark">Gender: </th>
      <th>{{client.gender}}</th>
    </tr>

  <tr>
      <th scope="row" class="table-dark">Profile Picture: </th>
      <th>{{client.profile_picture}}</th>
    </tr>
  </tbody>
</table>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>

{#Bootstrap core JS#}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>