{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Dashboard - SB Admin</title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'clients:list' %}">Basic CRM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'clients:list' %}">Clients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Agents</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
                <span class="me-2">Logged in as <b>{{ request.user.username }}</b></span>
                <a href="{% url 'users:logout' %}" role="button" class="btn btn-outline-danger">Log out</a>
            {% endif %}
        </div>
    </div>
</nav>


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

        <div class="row">

            <div class="col-3">
                <a href="{% url 'clients:create' %}">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Create a Client</div>
                    </div>
                </a>
            </div>

        </div>

        {##}


        {##}

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{% url 'clients:unassigned' %}">Unassigned</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'clients:assigned' %}">Assigned</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Converted</a>
            </li>
        </ul>


    <script type="text/javascript">
        const currentLocation = location.href;
        const menuItem = document.querySelectorAll('a');
        const menuLength = menuItem.length
        for (let i =0; i < menuLength; i++) {
            if(menuItem[i].href === currentLocation) {
                 menuItem[i].className += ' active'
            }
        }
    </script>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Gender</th>
                <th>Edit</th>
            </tr>
            </thead>

            <tbody>
            {% for client in clients %}

                <tr class="table-light">
                    <td>{{ client.first_name }} {{ client.last_name }}</td>
                    <td>{{ client.birthdate }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.gender }}</td>
                    <td>
                        <div class="btn dropdown">
                            <a class="dropdown-toggle" id="navbarDropdown" href="#"
                               role="button" data-bs-toggle="dropdown"
                               aria-expanded="false"><i class="fas fa-user-edit"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item"
                                       href="{% url 'clients:detail'  client.id %}">Detail</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'clients:update'  client.id %}">Update</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{% url 'clients:delete' client.id %}">Delete</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>


    </div>
</main>

{#Bootstrap Bundle#}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>

{#    Font Awesome #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
</body>
</html>
