{% extends 'base.html' %}


{% block content %}
    <h3>Clients:</h3>

    <div class="row mb-3">
        <div class="col">
            <a href="{% url 'clients:create' %}">Create a client</a>
        </div>
        <div class="col">
            <form method="get">
                <input type="text" name="q">

                <button>Search</button>
            </form>
        </div>
    </div>



    {% for client in clients %}

        <p class="client-row">
            {{ client.first_name }} {{ client.last_name }}: {{ client.phone_number }}
            <a href="{% url 'clients:delete' client.id %}">Delete</a> / <a href="{% url 'clients:update' client.id %}">Update</a> / <a href="{% url 'clients:detail' client.id %}">View</a>
        </p>

    {% endfor %}
{% endblock %}