{% extends 'base.html' %}



{% block title %}
    Dashboard
{% endblock %}


{% block content %}
    <h1>DASHBOARD</h1>
    <div class="row w-100">

    <div class="card col-2 text-white m-4 bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Clients</div>
        <div class="card-body">
            <h1 class="card-title"> {{ total_client_count }}</h1>
        </div>
    </div>

     <div class="card col-2 text-white m-4 bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Unassigned Clients</div>
        <div class="card-body">
            <h1 class="card-title"> {{ unassigned_clients }}</h1>
        </div>
    </div>

     <div class="card col-2 text-white m-4 bg-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Assigned Clients</div>
        <div class="card-body">
            <h1 class="card-title"> {{ assigned_clients }}</h1>
        </div>
    </div>

     <div class="card col-2 text-white m-4 bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Converted Clients</div>
        <div class="card-body">
            <h1 class="card-title"> {{ converted_clients }}</h1>
        </div>
    </div>
</div>

{% endblock %}